section {
  float: left;
  width: 50%;
}

.score {
  float: left;
  width: 49%;
}

/*.weapons {
  height: 0px;  
}*/

.weapons button {
  float: left;
  width: 150px;
}

.matches {
  float: left;
  width: 150px;
  margin: 30px;
}
/*.weapons button {
  display: none;
}*/

#fight {
  width: 100%;
  background: red;
/*    margin-left: 30% ;
    margin-right: 30% ;*/
  border: 1px solid rgba(0,0,0,.5)
  -webkit-border-radius: 50px;
      border-radius: 50px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(255,255,255,.5) inset;
            box-shadow: 1px 1px 1px 0px rgba(255,255,255,.5) inset;
}

#fight img {
  height: 100px;
}

.inside {
  width: 33%;
  font-size: 50px;
  margin: 0 auto;
}

.tie {
  background: yellow;
}

.win {
  background: green;
}

.lose {
  background: red;
}

.selected {
  border: 3px solid black;
  box-shadow: 0px 0px 0px 0px;
}

.hidden {
  display: none;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}